<?xml version="1.0" encoding="UTF-8"?>
<menu>
    <dish id="M01" status="Còn hàng">
        <name>Gỏi cuốn</name>
        <category>Khai vị</category>
        <price unit="VND">65000</price>
        <description>Gỏi cuốn tôm thịt ăn kèm nước chấm.</description>
    </dish>
    
    <dish id="M02" status="Còn hàng">
        <name>Cơm chiên duong châu</name>
        <category>Món chính</category>
        <price unit="VND">55000</price>
        <description>Cơm chiên với trúng,xúc xích,tôm và rau củ.</description>
    </dish>

    <dish id="M03" status="Còn hàng">
        <name>Lẩu hải sản chua cay</name>
        <category>Món chính</category>
        <price unit="VND">250000</price>
        <description>Lẩu đậm đà vị Thái, ăn kèm tôm, mực, nghêu và các loại rau sống.</description>
    </dish>

    <dish id="M04" status="Hết hàng">
        <name>Bò lúc lắc</name>
        <category>Món chính</category>
        <price unit="VND">125000</price>
        <description>Thịt bò được kết hợp với rau củ và nước sốt đậm đà.</description>
    </dish>

    <dish id="M05" status="Còn hàng">
        <name>Chè khúc bạch</name>
        <category>Tráng miệng</category>
        <price unit="VND">30000</price>
        <description>Khúc bạch thanh mát, béo ngậy ăn cùng hạnh nhân lát và nước đường phèn.</description>
    </dish>
</menu>